#like-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

#like-btn:hover {
  cursor: pointer;
  background-color: rgb(77, 20, 209);
}

#dislike-btn {
  background-color: rgb(14, 21, 215);
  color: rgb(5, 192, 96);
  padding: 10px 20px;
  border: 2px solid rgb(241, 245, 28);
  border-radius: 5px;
}

#dislike-btn:hover {
  cursor: pointer;
  background-color: rgb(197, 15, 173);
  color: rgb(15, 6, 95);
}
